services:
  postgresql:
    container_name: postgresql
    image: postgres:latest
    restart: always
    env_file:
      - .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  django:
    container_name: django
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    working_dir: /app
    env_file:
      - .env.prod
    environment:
      DJANGO_DEBUG: 0
    command: bash -c "
        python3 manage.py migrate --noinput &&
        daphne -b 0.0.0.0 -p 8000 task_manager.asgi:application
      "
    volumes:
      - django_static:/app/staticfiles
    depends_on:
      - postgresql
  
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - django_static:/app/staticfiles
    ports:
      - "8000:8000"
    depends_on:
      - django

volumes:
  postgres_data:
  django_static:
