{% for project in projects %}
    <div class="col" data-project-id="{{ project.pk }}">
        <div class="card rounded-bottom-4 shadow-sm" x-data="{ project_name: '{{ project.name }}', edit: false }">
            <div x-show.important="!edit" class="card-header d-flex text-bg-primary rounded-top" style="height: 56px;">
                <h4 class="my-auto me-auto">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span x-text="project_name"></span>
                </h4>
                <a class="link-body-emphasis text-decoration-none my-auto" x-on:click="edit = true">
                    <i class="fa-solid fa-pen"></i>
                </a>
            </div>

            <div x-show.important="edit" class="card-header d-flex" style="height: 56px;">
                <form class="w-100 me-1" hx-post="{% url 'workspace:edit_project' %}" hx-swap="none">
                    <input type="hidden" name="project_id" value="{{ project.pk }}">
                    <div class="input-group" x-data="{ new_project_name: project_name }">
                        <input
                            type="text"
                            class="form-control"
                            id="project_name"
                            name="project_name"
                            minlength="3"
                            maxlength="255"
                            required
                            x-model="new_project_name"
                            x-on:change="can_save = true"
                        >
                        <button
                            type="submit"
                            class="btn btn-success"
                            :disabled="new_project_name === project_name ||  new_project_name.length < 3 || new_project_name.length > 255"
                            x-on:htmx:after-request.window="project_name = new_project_name; edit = false"
                        >
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </form>
                
                <form class="me-1" hx-delete="{% url 'workspace:delete_project' %}" hx-target="[data-project-id='{{ project.pk }}']" hx-swap="delete">
                    <input type="hidden" name="project_id" value="{{ project.pk }}">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>

                <button type="button" class="btn btn-secondary" x-on:click="edit = false">
                    <i class="fa-solid fa-ban"></i>
                </button>
            </div>

            {% comment %}
                It was the easiest workaround I could think of.
                Bootstrap places some weird margins/paddings between header and body,
                but the second header works just like I want, so I'll stick to it. =)
            {% endcomment %}
            <div class="card-header">
                <div class="input-group">
                    <span class="input-group-text text-secondary">
                        <i class="fa-solid fa-square-plus"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Start typing here to create a task...">
                    <button type="button" class="btn btn-success">Add Task</button>
                </div>
            </div>

            <div class="card-body">
                
            </div>
        </div>
    </div>
{% endfor %}
