{% for task in tasks %}
    <tr>
        <td>
            {% if task.priority == 0 %}
                <span class="text-success">
                    <i class="fa-solid fa-angle-down"></i>
                </span>
            {% elif task.priority == 1 %}
                <span class="text-primary">
                    <i class="fa-solid fa-minus"></i>
                </span>
            {% elif task.priority == 2 %}
                <span class="text-warning">
                    <i class="fa-solid fa-angle-up"></i>
                </span>
            {% elif task.priority == 3 %}
                <span class="text-danger">
                    <i class="fa-solid fa-angles-up"></i>
                </span>
            {% else %}
                <span class="text-secondary">
                    <i class="fa-solid fa-question"></i>
                </span>
            {% endif %}
        </td>
        <td>
            <input type="checkbox" name="" id="" {% if task.completed %} checked {% endif %}>
        </td>
        <td>
            {{ task.name }}
        </td>
        <td class="d-flex">
            <button type="button" class="btn btn-sm btn-link link-body-emphasis">
                <i class="fa-solid fa-hourglass"></i>
            </button>

            <div class="vr"></div>

            <button type="button" class="btn btn-sm btn-link link-body-emphasis">
                <i class="fa-solid fa-pen"></i>
            </button>

            <div class="vr"></div>

            <button type="button" class="btn btn-sm btn-link link-body-emphasis">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </td>
    </tr>
{% endfor %}
