{% for project in projects %}
    <div class="col" data-project-id="{{ project.pk }}">
        <div class="card rounded-bottom-4 shadow-sm" x-data="{ project_name: '{{ project.name }}', edit: false }">
            <div x-show.important="!edit" class="card-header d-flex text-bg-primary rounded-top" style="height: 56px;">
                <h4 class="my-auto me-auto">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span x-text="project_name"></span>
                </h4>
                <a class="link-body-emphasis text-decoration-none my-auto" x-on:click="edit = true">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>

            <div x-show.important="edit" class="card-header d-flex" style="height: 56px;" x-data="{ new_project_name: project_name }">
                <form class="w-100 me-1" hx-post="{% url 'workspace:update_project' project.pk %}" hx-swap="none">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            minlength="3"
                            maxlength="255"
                            required
                            x-model="new_project_name"
                        >
                        <button
                            type="submit"
                            class="btn btn-success"
                            :disabled="new_project_name === project_name ||  new_project_name.length < 3 || new_project_name.length > 255"
                            x-on:htmx:after-request.window="project_name = new_project_name; edit = false"
                        >
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </form>
                
                <button
                    type="submit"
                    class="btn btn-danger me-1"
                    hx-delete="{% url 'workspace:delete_project' project.pk %}"
                    hx-target="[data-project-id='{{ project.pk }}']"
                    hx-swap="delete"
                >
                    <i class="fa-solid fa-trash-can"></i>
                </button>

                <button type="button" class="btn btn-secondary" x-on:click="new_project_name = project_name; edit = false">
                    <i class="fa-solid fa-ban"></i>
                </button>
            </div>

            <div class="card-header">
                <form hx-post="{% url 'workspace:create_task' project.pk %}" hx-target="#task-container-{{ project.pk }}" hx-swap="innerHTML">
                    <div class="input-group" x-data="{ task_name: '' }">
                        <span class="input-group-text text-secondary">
                            <i class="fa-solid fa-square-plus"></i>
                        </span>
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="Start typing here to create a task..."
                            minlength="3"
                            maxlength="255"
                            required
                            x-model="task_name"
                        >
                        <button
                            type="submit"
                            class="btn btn-success"
                            :disabled="task_name.length < 3 || task_name.length > 255"
                            x-on:htmx:after-request.window="task_name = ''"
                        >
                            Add Task
                        </button>
                    </div>
                </form>
            </div>

            <div class="card-body p-0" x-data="{ loaded: false }">
                <div x-show.important="!loaded" class="placeholder-glow m-3 mb-0">
                    <p class="placeholder placeholder-lg rounded w-100"></p>
                    <p class="placeholder placeholder-lg rounded w-100"></p>
                    <p class="placeholder placeholder-lg rounded w-100"></p>
                </div>

                <table class="table table-borderless table-hover align-middle" :class="loaded ? '' : 'mb-0'">
                    <colgroup>
                        <col style="width: 1%;">
                        <col style="width: 1%;">
                        <col>
                        <col style="width: 1%;">
                    </colgroup>
                    <tbody
                        id="task-container-{{ project.pk }}"
                        hx-get="{% url 'workspace:partial_task_list' project.pk %}" 
                        hx-trigger="load"
                        hx-swap="innerHTML"
                        x-on:htmx:after-request.window="loaded = true"
                    >
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endfor %}
