{% for task in tasks %}
    <tr data-task-id="{{ task.pk }}">
        <td>
            {% if task.priority == 0 %}
                <span class="text-success">
                    <i class="fa-solid fa-angle-down"></i>
                </span>
            {% elif task.priority == 1 %}
                <span class="text-primary">
                    <i class="fa-solid fa-minus"></i>
                </span>
            {% elif task.priority == 2 %}
                <span class="text-warning">
                    <i class="fa-solid fa-angle-up"></i>
                </span>
            {% elif task.priority == 3 %}
                <span class="text-danger">
                    <i class="fa-solid fa-angles-up"></i>
                </span>
            {% else %}
                <span class="text-secondary">
                    <i class="fa-solid fa-question"></i>
                </span>
            {% endif %}
        </td>
        <td>
            <input
                type="checkbox" 
                id="completed"
                name="completed"
                hx-post="{% url 'workspace:complete_task' task.pk %}"
                hx-trigger="change delay:500ms"
                hx-swap="none"
                {% if task.completed %} checked {% endif %}
            >
        </td>
        <td>
            <span class="fw-semibold">{{ task.name }}</span>
            {% if task.deadline %}
                <small class="d-block {% if task.is_overdue %} text-danger {% endif %}">
                    <i class="fa-solid fa-alarm-clock"></i>
                    {{ task.deadline|date:'d.m.Y' }} ({{ task.days_remaining }} day{{ task.days_remaining|pluralize }} left)
                </small>
            {% endif %}
        </td>
        <td>
            <div class="d-flex">
                <a class="btn btn-sm btn-link link-body-emphasis" href="{% url 'workspace:update_task' task.pk %}" hx-boost="true">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <div class="vr"></div>

                <button
                    type="button"
                    class="btn btn-sm btn-link text-danger"
                    hx-delete="{% url 'workspace:delete_task' task.pk %}"
                    hx-target="[data-task-id='{{ task.pk }}']"
                    hx-swap="delete"
                >
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        </td>
    </tr>
{% endfor %}
