{% extends 'workspace/_layout.html' %}

{% block title %}
    Add Project | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-6">
            <div class="border rounded-3 shadow-lg p-3 mx-sm-1">
                <h4 class="mb-3">
                    <i class="fa-solid fa-plus"></i> Add Project
                </h4>

                {% if form %}
                <ul class="list-group list-group-flush border border-danger border-1 rounded mb-3">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="list-group-item">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}

                <form hx-boost="true" action="" method="post" x-data="{ project_name: '' }">
                    <input
                        type="text"
                        class="form-control mb-3"
                        id="project_name"
                        name="project_name"
                        value="{{ form.data.project_name }}"
                        placeholder="Project name"
                        minlength="3"
                        maxlength="255"
                        required
                        x-model="project_name"
                    >
                    <div class="text-end">
                        <button type="submit" class="btn btn-success fw-semibold" :disabled="project_name.length < 3 || project_name.length > 255">
                            <i class="fa-solid fa-floppy-disk"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
