{% extends 'workspace/_layout.html' %}

{% load static %}

{% block title %}
    Workspace | {{ block.super }}
{% endblock %}


{% block content %}
    <div
        id="projects-container"
        class="row row-cols-1 row-cols-lg-2 g-3 justify-content-center"
        hx-get="{% url 'workspace:partial_project_list' %}" 
        hx-trigger="load"
        hx-swap="innerHTML"
    >
        <div class="col-auto text-center htmx-indicator">
            <img src="{% static 'svg/puff.svg' %}" alt="" style="width: 96px;">
        </div>
    </div>

    <div class="text-center mt-3" hx-boost="true">
        <a href="{% url 'workspace:add_project' %}" class="btn btn-lg btn-primary shadow-lg fw-semibold">
            <i class="fa-solid fa-plus"></i> Add Project
        </a>
    </div>
{% endblock %}
