<nav class="navbar bg-body-tertiary shadow">
    <div class="container-fluid">
        <a 
            class="navbar-brand"
            {% if user.is_authenticated %}
                href="{% url 'workspace:dashboard' %}"
            {% else %}
                href="{% url 'account_login' %}"
            {% endif %}
        >
            Task Manager
        </a>
        <div class="d-flex">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                        <span class="d-none d-lg-inline">
                            {{ request.user.get_masked_email }} <i class="fa-solid fa-caret-down"></i>
                        </span>
                        <span class="d-lg-none">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="{% url 'account_email' %}">
                                <i class="fa-solid fa-envelope"></i> Change Email
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'account_change_password' %}">
                                <i class="fa-solid fa-key"></i> Change Password
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">
                                <i class="fa-solid fa-right-from-bracket"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                {% comment %} Desktop navbar menu {% endcomment %}
                <div class="d-none d-lg-flex">
                    <a class="btn btn-primary me-2" href="{% url 'account_login' %}">
                        <i class="fa-solid fa-right-to-bracket"></i> Sign In
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">
                        <i class="fa-solid fa-user-plus"></i> Sign Up
                    </a>
                </div>

                {% comment %} Mobile navbar menu {% endcomment %}
                <div class="d-lg-none">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{% url 'account_login' %}">
                                    <i class="fa-solid fa-right-to-bracket"></i> Sign In
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'account_signup' %}">
                                    <i class="fa-solid fa-user-plus"></i> Sign Up
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>   
            {% endif %}
        </div>
    </div>
</nav>
